
#gameCanvas {
    border: 2px solid #AAA;
}

@font-face {
    font-family: bitrod;
    src: url(bitrod.ttf);
}

#loading{
    
    position: absolute;
    top: 260px;
    width: 100%;
    text-align: center;
    y: inherit;
    font-family: bitrod;
    font-size: 70px;
}